/* Define @import for my Google Fonts here for Roboto and Rock Salt. This is always on top of your CSS ruleset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
/* Define my global CSS variables here and referenced them with var() later on */
:root {
    --primary-color: #1649FF;
    --secondary-color: #7699d4;
    --accent1-color: #d5e6ec;
    --accent2-color: #63b4d1;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: Roboto, serif;
    --paragraph-color: #0c0b0b;

    --nav-background-color: #d5e6ec;
    --nav-link-color: #5d0c88;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #88d1cf;

}

* {
    margin: 0;
    padding: 0;
}

h2, h3
{
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 100px;

}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 100px;

}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    /* I will remind myself that rem mean relative em units to the nearest root element property, in this case the font size */
    display: flex;
    /*convert into flex container to easily arrange nav links children */
}

nav a {

    color: var(--nav-link-color);
    font-family: var(--paragraph-font);
    text-decoration: none;
    /* remove underline in your nav links */
    padding: 1rem;
}



.herodiv {
    margin: 10px auto;
    position: relative;

}

.herodiv img {
    display: block;
    width: 100%;
    height: auto;

}

h1 {
   position: absolute;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

article {
    position: absolute;
}

.article img {

    float: right;
    opacity: 0.5;
    width: 50%;
    height: 50%;


}

.stats {

    position: absolute;
    top: 500px;
    bottom: 0px;
    left: 355px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 20px #111;
    opacity: 0.8;
    width: 50%;
    height: 30%;

}

.stats2 {

    position: absolute;
    top: 10px;
    bottom: 0px;
    left: 5px;

    padding: 0.2rem;

    opacity: 0.8;
    width: 50%;
    height: 30%;

}


